.container {
  width: 70vw;
  height: 100vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsList {
  margin-top: 5%;
  display: flex;
  width: 20%;
  justify-content: space-around;
  flex-direction: row;
}

.buttonsList button {
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

.stopwatchCounter {
  font-size: 30px;
}
